<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/glow.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
        <div class="content">
            <div class="content__container">
              <p class="content__container__text">
            on:
              </p>
              <ul class="content__container__list">
                <li class="content__container__list__item"><%= platform %></li>
                <li class="content__container__list__item"><%= bit %></li>
                <li class="content__container__list__item"><%= runtime %></li>
                <li class="content__container__list__item"><%= endian %></li>
              </ul>
            </div>
          </div>
	</body>
</html>