<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <div class="content">
    <div class="container">
      <p class="text">
        on:
      </p>
      <ul class="list">
        <li class="item"><%= platform %></li>
        <li class="item"><%= bit %></li>
        <li class="item"><%= runtime %></li>
        <li class="item"><%= endian %></li>
      </ul>
    </div>
  </div>
</body>

</html>